*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section{
    background: url("../img/Nature.png") right no-repeat;
    background-size: contain;
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:50px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}
header img{
    position: relative;
    width: 40px;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #ffffff;
    margin-left: 60px;
    text-decoration: none;
}
header .navigation li a:hover{
    color: #03a9f4;
}
header .navigation li a::after{
    content: "";
    background-color: #fff;
    position: absolute;
    width: 310px;
    height: 1px;
    bottom: -10px;
    left: 60%;
    transform: translateX(-50%);
}

/* Content */

.content{
    max-width: 600px;
    margin-top: -150px;
}
.content .contentBx h1{
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 40px;
}
.content .contentBx p{
    color: #fefefe;
    letter-spacing: 0.23px;
    font-size: 0.8em;
    width: 390px;
    margin-bottom: 45px;
}
.content .contentBx a{
    background: url('../img/Shape.png') center no-repeat;
    background-size: contain;
    padding: 20px 50px 20px 20px;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.25px;
    font-weight: 700;
    
}
.content .contentBx a:hover{
    filter: invert(5%);
}

.sci{
    position: absolute;
    bottom: 0px;
    left: -100px;
    display: flex;
    background: url('../img/Shapesoc.png') no-repeat;
    background-size: cover;
    width: 600px;
    height: 200px;
    background-position-x: -30px;
}
.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    position: relative;
    margin-left: 30px;
    display: inline-block;
    filter: invert(1);
    bottom: -40px;
}
.sci li:nth-child(1){
    padding-left: 130px;
}
.sci li a img{
    width: 30px;
}